In [18]:
import numpy as np
import pandas as pd

# for time data
import datetime as dt
import pytz

import warnings
warnings.filterwarnings('ignore')

import ast

In [4]:
charging_set = pd.read_csv("data/charging_sessions.csv")

In [5]:
# get overview of data
print("columns:")
print(charging_set.columns)
print("-------------------------------------------------------------------------")
print("info():")
print(charging_set.info())
print("-------------------------------------------------------------------------")
print("describe():")
print(charging_set.describe())

columns:
Index(['Unnamed: 0', 'id', 'connectionTime', 'disconnectTime',
       'doneChargingTime', 'kWhDelivered', 'sessionID', 'siteID', 'spaceID',
       'stationID', 'timezone', 'userID', 'userInputs'],
      dtype='object')
-------------------------------------------------------------------------
info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66450 entries, 0 to 66449
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        66450 non-null  int64
 1   id                66450 non-null  object
 2   connectionTime    66450 non-null  object
 3   disconnectTime    66450 non-null  object
 4   doneChargingTime  62362 non-null  object
 5   kWhDelivered      66450 non-null  float64
 6   sessionID         66450 non-null  object
 7   siteID            66450 non-null  int64
 8   spaceID           66450 non-null  object
 9   stationID         66450 non-null  object
 10  timezone          66450 non-null  object
 11  userID            49187 non-null  float64
 12  userInputs        49187 non-null  object
dtypes: float64(2), int64(2), object(9)
memory usage: 6.6+ MB
None
-------------------------------------------------------------------------
describe():
         Unnamed: 0  kWhDelivered        siteID        userID
count  66450.000000  66450.000000  66450.000000  49187.000000
mean    4726.102062     11.787916      1.472656   1800.494582
std     3568.025394     10.314789      0.499256   2617.548614
min        0.000000      0.501000      1.000000      1.000000
25%     1845.000000      5.097000      1.000000    431.000000
50%     3960.000000      9.140000      1.000000    818.000000
75%     7027.000000     14.183000      2.000000   1805.000000
max    15291.000000    108.797242      2.000000  19923.000000

In [15]:
charging_set.head(12)

,id,connectionTime,disconnectTime,doneChargingTime,kWhDelivered,siteID,spaceID,stationID,timezone,WhPerMile,kWhRequested,milesRequested,minutesAvailable,modifiedAt,paymentRequired,requestedDeparture,isRegistered
0,5e23b149f9af8b5fe4b973cf,2020-01-02 13:08:54+00:00,2020-01-02 19:11:15+00:00,2020-01-02 17:31:35+00:00,25.016,1,AG-3F30,1-1-179-810,America/Los_Angeles,250.0,25.00,100.0,463.0,"Thu, 02 Jan 2020 13:09:39 GMT",True,"Thu, 02 Jan 2020 20:51:54 GMT",1
1,5e23b149f9af8b5fe4b973d0,2020-01-02 13:36:50+00:00,2020-01-02 22:38:21+00:00,2020-01-02 20:18:05+00:00,33.097,1,AG-1F01,1-1-193-825,America/Los_Angeles,280.0,70.00,250.0,595.0,"Thu, 02 Jan 2020 13:37:11 GMT",True,"Thu, 02 Jan 2020 23:31:50 GMT",1
2,5e23b149f9af8b5fe4b973d1,2020-01-02 13:56:35+00:00,2020-01-03 00:39:22+00:00,2020-01-02 16:35:06+00:00,6.521,1,AG-1F03,1-1-193-829,America/Los_Angeles,400.0,8.00,20.0,60.0,"Thu, 02 Jan 2020 13:57:17 GMT",True,"Thu, 02 Jan 2020 14:56:35 GMT",1
3,5e23b149f9af8b5fe4b973d2,2020-01-02 13:59:58+00:00,2020-01-02 16:38:39+00:00,2020-01-02 15:18:45+00:00,2.355,1,AG-1F04,1-1-193-820,America/Los_Angeles,400.0,8.00,20.0,65.0,"Thu, 02 Jan 2020 14:00:03 GMT",True,"Thu, 02 Jan 2020 15:04:58 GMT",1
4,5e23b149f9af8b5fe4b973d3,2020-01-02 14:00:01+00:00,2020-01-02 22:08:40+00:00,2020-01-02 18:17:30+00:00,13.375,1,AG-1F06,1-1-193-819,America/Los_Angeles,400.0,16.00,40.0,504.0,"Thu, 02 Jan 2020 14:00:13 GMT",True,"Thu, 02 Jan 2020 22:24:01 GMT",1
5,5e23b149f9af8b5fe4b973d4,2020-01-02 14:00:13+00:00,2020-01-02 23:00:41+00:00,2020-01-02 20:13:21+00:00,13.370,1,AG-1F13,1-1-194-821,America/Los_Angeles,600.0,24.00,40.0,624.0,"Thu, 02 Jan 2020 14:00:12 GMT",True,"Fri, 03 Jan 2020 00:24:13 GMT",1
6,5e23b149f9af8b5fe4b973d5,2020-01-02 14:09:14+00:00,2020-01-03 01:57:58+00:00,2020-01-03 00:59:21+00:00,43.477,1,AG-1F09,1-1-178-817,America/Los_Angeles,385.0,65.45,170.0,647.0,"Thu, 02 Jan 2020 14:09:33 GMT",True,"Fri, 03 Jan 2020 00:56:14 GMT",1
7,5e23b149f9af8b5fe4b973d6,2020-01-02 14:17:32+00:00,2020-01-03 00:44:54+00:00,2020-01-02 20:22:40+00:00,32.441,1,AG-4F34,1-1-191-804,America/Los_Angeles,300.0,45.00,150.0,126.0,"Thu, 02 Jan 2020 14:17:40 GMT",True,"Thu, 02 Jan 2020 16:23:32 GMT",1
8,5e23b149f9af8b5fe4b973d7,2020-01-02 14:25:38+00:00,2020-01-02 19:36:05+00:00,2020-01-02 18:38:39+00:00,13.264,1,AG-1F11,1-1-194-826,America/Los_Angeles,400.0,40.00,100.0,491.0,"Thu, 02 Jan 2020 14:25:45 GMT",True,"Thu, 02 Jan 2020 22:36:38 GMT",1
9,5e23b149f9af8b5fe4b973d8,2020-01-02 14:27:40+00:00,2020-01-02 20:01:48+00:00,2020-01-02 19:17:46+00:00,13.285,1,AG-1F08,1-1-178-823,America/Los_Angeles,400.0,20.00,50.0,226.0,"Thu, 02 Jan 2020 14:27:48 GMT",True,"Thu, 02 Jan 2020 18:13:40 GMT",1
10,5e23b149f9af8b5fe4b973d9,2020-01-02 14:30:45+00:00,2020-01-03 00:06:42+00:00,2020-01-02 17:33:07+00:00,11.633,1,AG-3F22,1-1-179-788,America/Los_Angeles,400.0,32.00,80.0,325.0,"Thu, 02 Jan 2020 14:30:49 GMT",True,"Thu, 02 Jan 2020 19:55:45 GMT",1
11,5e23b149f9af8b5fe4b973da,2020-01-02 15:04:38+00:00,2020-01-02 23:33:26+00:00,2020-01-02 22:48:48+00:00,0.812,1,AG-1F14,1-1-194-818,America/Los_Angeles,0.0,-1.00,-1.0,0.0,0,0,0,1

# TODO

- check validity and meaning of data (userInput)
- remove irrelevant columns
- split userInput in own columns
- check for duplicates
- check for None-values (userID)
- split userID into binary dummy (isRegistered)
- check for None-values for isRegistered = 1 (remove None-values for registered users)
- check data types of columns
- look at columns with multiple data types (remove wrong entries)
- check ranges of columns & unique values

# Data Cleanup

## Step 1: check validity of columns

- remove unnecessary "unnamed" column
- sessionID does not bring any relevant information for our analysis

In [7]:
# remove irrelevant columns
charging_set.drop('Unnamed: 0', axis=1, inplace=True)
charging_set.drop('sessionID', axis=1, inplace=True) # does not bring relevant information for our analysis
charging_set.head(3)

,id,connectionTime,disconnectTime,doneChargingTime,kWhDelivered,siteID,spaceID,stationID,timezone,userID,userInputs
0,5e23b149f9af8b5fe4b973cf,2020-01-02 13:08:54+00:00,2020-01-02 19:11:15+00:00,2020-01-02 17:31:35+00:00,25.016,1,AG-3F30,1-1-179-810,America/Los_Angeles,194.0,"[{'WhPerMile': 250, 'kWhRequested': 25.0, 'mil..."
1,5e23b149f9af8b5fe4b973d0,2020-01-02 13:36:50+00:00,2020-01-02 22:38:21+00:00,2020-01-02 20:18:05+00:00,33.097,1,AG-1F01,1-1-193-825,America/Los_Angeles,4275.0,"[{'WhPerMile': 280, 'kWhRequested': 70.0, 'mil..."
2,5e23b149f9af8b5fe4b973d1,2020-01-02 13:56:35+00:00,2020-01-03 00:39:22+00:00,2020-01-02 16:35:06+00:00,6.521,1,AG-1F03,1-1-193-829,America/Los_Angeles,344.0,"[{'WhPerMile': 400, 'kWhRequested': 8.0, 'mile..."

In [8]:
# split userInputs into own columns
def parse_user_inputs(row):
    try:
        # Parse the row as a Python object (e.g., list of dicts)
        parsed = ast.literal_eval(row) if pd.notnull(row) else []
        return parsed[0] if isinstance(parsed, list) and len(parsed) > 0 else {}
    except (ValueError, SyntaxError):
        return {}

# Parse 'userInputs' column in charging_set
charging_set['userInputs'] = charging_set['userInputs'].apply(parse_user_inputs)

# Specify the desired features to extract
desired_features = [
    'WhPerMile', 'kWhRequested', 'milesRequested',
    'minutesAvailable', 'modifiedAt', 'paymentRequired',
    'requestedDeparture'
]

# Extract desired features and create new columns
for feature in desired_features:
    charging_set[feature] = charging_set['userInputs'].apply(
        lambda x: x.get(feature) if isinstance(x, dict) else None
    )
# TODO: has to be commented so a cell further down in this notebook can run (it needs userInputs)
charging_set = charging_set.drop(columns=['userInputs'])
charging_set

,id,connectionTime,disconnectTime,doneChargingTime,kWhDelivered,siteID,spaceID,stationID,timezone,userID,WhPerMile,kWhRequested,milesRequested,minutesAvailable,modifiedAt,paymentRequired,requestedDeparture
0,5e23b149f9af8b5fe4b973cf,2020-01-02 13:08:54+00:00,2020-01-02 19:11:15+00:00,2020-01-02 17:31:35+00:00,25.016,1,AG-3F30,1-1-179-810,America/Los_Angeles,194.0,250.0,25.00,100.0,463.0,"Thu, 02 Jan 2020 13:09:39 GMT",True,"Thu, 02 Jan 2020 20:51:54 GMT"
1,5e23b149f9af8b5fe4b973d0,2020-01-02 13:36:50+00:00,2020-01-02 22:38:21+00:00,2020-01-02 20:18:05+00:00,33.097,1,AG-1F01,1-1-193-825,America/Los_Angeles,4275.0,280.0,70.00,250.0,595.0,"Thu, 02 Jan 2020 13:37:11 GMT",True,"Thu, 02 Jan 2020 23:31:50 GMT"
2,5e23b149f9af8b5fe4b973d1,2020-01-02 13:56:35+00:00,2020-01-03 00:39:22+00:00,2020-01-02 16:35:06+00:00,6.521,1,AG-1F03,1-1-193-829,America/Los_Angeles,344.0,400.0,8.00,20.0,60.0,"Thu, 02 Jan 2020 13:57:17 GMT",True,"Thu, 02 Jan 2020 14:56:35 GMT"
3,5e23b149f9af8b5fe4b973d2,2020-01-02 13:59:58+00:00,2020-01-02 16:38:39+00:00,2020-01-02 15:18:45+00:00,2.355,1,AG-1F04,1-1-193-820,America/Los_Angeles,1117.0,400.0,8.00,20.0,65.0,"Thu, 02 Jan 2020 14:00:03 GMT",True,"Thu, 02 Jan 2020 15:04:58 GMT"
4,5e23b149f9af8b5fe4b973d3,2020-01-02 14:00:01+00:00,2020-01-02 22:08:40+00:00,2020-01-02 18:17:30+00:00,13.375,1,AG-1F06,1-1-193-819,America/Los_Angeles,334.0,400.0,16.00,40.0,504.0,"Thu, 02 Jan 2020 14:00:13 GMT",True,"Thu, 02 Jan 2020 22:24:01 GMT"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66445,5d574ad2f9af8b4c10c03652,2019-07-31 18:08:04+00:00,2019-07-31 23:29:18+00:00,2019-07-31 23:30:18+00:00,28.787,1,AG-3F27,1-1-179-809,America/Los_Angeles,393.0,240.0,31.20,130.0,355.0,"Wed, 31 Jul 2019 18:08:23 GMT",True,"Thu, 01 Aug 2019 00:03:04 GMT"
66446,5d574ad2f9af8b4c10c03653,2019-07-31 18:40:41+00:00,2019-08-01 00:59:42+00:00,2019-07-31 21:44:23+00:00,7.787,1,AG-3F30,1-1-179-810,America/Los_Angeles,220.0,333.0,6.66,20.0,455.0,"Wed, 31 Jul 2019 18:41:02 GMT",True,"Thu, 01 Aug 2019 02:15:41 GMT"
66447,5d574ad2f9af8b4c10c03654,2019-07-31 19:04:40+00:00,2019-07-31 22:44:22+00:00,2019-07-31 22:45:21+00:00,11.274,1,AG-4F51,1-1-191-795,America/Los_Angeles,1974.0,333.0,19.98,60.0,184.0,"Wed, 31 Jul 2019 19:04:57 GMT",True,"Wed, 31 Jul 2019 22:08:40 GMT"
66448,5d574ad2f9af8b4c10c03655,2019-07-31 19:19:47+00:00,2019-08-01 00:34:51+00:00,2019-07-31 21:25:30+00:00,11.589,1,AG-4F43,1-1-191-778,America/Los_Angeles,942.0,275.0,22.00,80.0,60.0,"Wed, 31 Jul 2019 19:20:10 GMT",True,"Wed, 31 Jul 2019 20:19:47 GMT"
66449,5d574ad2f9af8b4c10c03656,2019-07-31 19:21:47+00:00,2019-07-31 22:00:04+00:00,2019-07-31 20:51:34+00:00,0.897,1,AG-1F09,1-1-178-817,America/Los_Angeles,NaN,NaN,NaN,NaN,NaN,None,None,None

In [9]:
# check for duplicates
duplicate_counter = charging_set.duplicated().sum()
duplicates = charging_set[charging_set.duplicated()]
print("sum of duplicates:", duplicate_counter)
charging_set.drop_duplicates()

sum of duplicates: 1413

,id,connectionTime,disconnectTime,doneChargingTime,kWhDelivered,siteID,spaceID,stationID,timezone,userID,WhPerMile,kWhRequested,milesRequested,minutesAvailable,modifiedAt,paymentRequired,requestedDeparture
0,5e23b149f9af8b5fe4b973cf,2020-01-02 13:08:54+00:00,2020-01-02 19:11:15+00:00,2020-01-02 17:31:35+00:00,25.016,1,AG-3F30,1-1-179-810,America/Los_Angeles,194.0,250.0,25.00,100.0,463.0,"Thu, 02 Jan 2020 13:09:39 GMT",True,"Thu, 02 Jan 2020 20:51:54 GMT"
1,5e23b149f9af8b5fe4b973d0,2020-01-02 13:36:50+00:00,2020-01-02 22:38:21+00:00,2020-01-02 20:18:05+00:00,33.097,1,AG-1F01,1-1-193-825,America/Los_Angeles,4275.0,280.0,70.00,250.0,595.0,"Thu, 02 Jan 2020 13:37:11 GMT",True,"Thu, 02 Jan 2020 23:31:50 GMT"
2,5e23b149f9af8b5fe4b973d1,2020-01-02 13:56:35+00:00,2020-01-03 00:39:22+00:00,2020-01-02 16:35:06+00:00,6.521,1,AG-1F03,1-1-193-829,America/Los_Angeles,344.0,400.0,8.00,20.0,60.0,"Thu, 02 Jan 2020 13:57:17 GMT",True,"Thu, 02 Jan 2020 14:56:35 GMT"
3,5e23b149f9af8b5fe4b973d2,2020-01-02 13:59:58+00:00,2020-01-02 16:38:39+00:00,2020-01-02 15:18:45+00:00,2.355,1,AG-1F04,1-1-193-820,America/Los_Angeles,1117.0,400.0,8.00,20.0,65.0,"Thu, 02 Jan 2020 14:00:03 GMT",True,"Thu, 02 Jan 2020 15:04:58 GMT"
4,5e23b149f9af8b5fe4b973d3,2020-01-02 14:00:01+00:00,2020-01-02 22:08:40+00:00,2020-01-02 18:17:30+00:00,13.375,1,AG-1F06,1-1-193-819,America/Los_Angeles,334.0,400.0,16.00,40.0,504.0,"Thu, 02 Jan 2020 14:00:13 GMT",True,"Thu, 02 Jan 2020 22:24:01 GMT"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65032,5d2fbdd3f9af8b4d0dd0d54a,2019-07-01 21:49:12+00:00,2019-07-02 01:37:18+00:00,2019-07-01 23:14:33+00:00,8.399,1,AG-3F18,1-1-179-798,America/Los_Angeles,1346.0,400.0,32.00,80.0,36.0,"Mon, 01 Jul 2019 21:49:37 GMT",True,"Mon, 01 Jul 2019 22:25:12 GMT"
65033,5d2fbdd3f9af8b4d0dd0d54b,2019-07-01 21:58:45+00:00,2019-07-02 00:39:48+00:00,2019-07-02 00:40:21+00:00,16.864,1,AG-3F20,1-1-179-794,America/Los_Angeles,364.0,400.0,40.00,100.0,234.0,"Mon, 01 Jul 2019 21:59:09 GMT",True,"Tue, 02 Jul 2019 01:52:45 GMT"
65034,5d2fbdd3f9af8b4d0dd0d54c,2019-07-01 22:02:21+00:00,2019-07-02 00:58:50+00:00,2019-07-02 00:59:23+00:00,18.335,1,AG-4F47,1-1-191-807,America/Los_Angeles,2050.0,333.0,29.97,90.0,309.0,"Mon, 01 Jul 2019 22:02:37 GMT",True,"Tue, 02 Jul 2019 03:11:21 GMT"
65035,5d2fbdd3f9af8b4d0dd0d54d,2019-07-01 22:23:44+00:00,2019-07-02 02:03:36+00:00,2019-07-02 02:04:06+00:00,22.815,1,AG-3F31,1-1-179-781,America/Los_Angeles,1626.0,200.0,34.00,170.0,99.0,"Mon, 01 Jul 2019 22:23:43 GMT",True,"Tue, 02 Jul 2019 00:02:44 GMT"
65036,5d2fbdd3f9af8b4d0dd0d54e,2019-07-01 22:36:08+00:00,2019-07-02 01:10:52+00:00,2019-07-02 00:24:32+00:00,10.241,1,AG-1F06,1-1-193-819,America/Los_Angeles,2299.0,333.0,16.65,50.0,191.0,"Mon, 01 Jul 2019 22:36:08 GMT",True,"Tue, 02 Jul 2019 01:47:08 GMT"

In [10]:
# check for none-values
nan_counts = charging_set.isna().sum()
nan_counts_sorted = nan_counts.sort_values(ascending=False)

for column, count in nan_counts_sorted.items():
    print(f"Feature: {column}, Count of NaN-Values: {count}")

Feature: requestedDeparture, Count of NaN-Values: 17263
Feature: milesRequested, Count of NaN-Values: 17263
Feature: paymentRequired, Count of NaN-Values: 17263
Feature: modifiedAt, Count of NaN-Values: 17263
Feature: minutesAvailable, Count of NaN-Values: 17263
Feature: WhPerMile, Count of NaN-Values: 17263
Feature: kWhRequested, Count of NaN-Values: 17263
Feature: userID, Count of NaN-Values: 17263
Feature: doneChargingTime, Count of NaN-Values: 4088
Feature: id, Count of NaN-Values: 0
Feature: timezone, Count of NaN-Values: 0
Feature: spaceID, Count of NaN-Values: 0
Feature: stationID, Count of NaN-Values: 0
Feature: kWhDelivered, Count of NaN-Values: 0
Feature: disconnectTime, Count of NaN-Values: 0
Feature: connectionTime, Count of NaN-Values: 0
Feature: siteID, Count of NaN-Values: 0

We observe a large number of NaN-values in the columns that were separated from the column \"userInputs\". It is very noticeable that the number of NaN-values of the \"userInputs\"-columns is the same as the number of the NaN-values in the \"userID\"-column. Accordingly, we assume that the NaN-values in the \"userInputs\"-columns originate from users not being registered. In the following, we check if our assumption is correct:

# Clean: userInputs

In [11]:
# list of userInputs columns
user_inputs = ["requestedDeparture", "milesRequested", "paymentRequired", "modifiedAt", "minutesAvailable", "WhPerMile", "kWhRequested"]

def check_user_inputs_nan_condition(user_inputs_columns):
    """
    check_user_inputs_nan_condition checks if userID is NaN when userInputs columns are NaN.
    
    :param user_inputs_columns: list of user input columns that were stored in the former "userInputs"-column
    :return: True if no violations are found, False if a userID exists with NaN in the corresponding userInput column.
    """
    # iterate over each row and compare userID-value to userInputs-values
    for idx, row in charging_set.iterrows():
        user_id_value = row["userID"]

        for user_input_column in user_inputs_columns:
            user_input_value = row[user_input_column]

            # if userID is not NaN but the userInputs-column is NaN, return false
            if pd.isna(user_input_value) and not pd.isna(user_id_value):
                return False

    # if no violation of condition is found, return true
    return True

# check if unregistered users are the reason for NaN-values in userInputs columns
print("Unregistered users are the reason for NaN-values in userInputs columns:", check_user_inputs_nan_condition(user_inputs))

# check if we can use 0 as a placeholder for NaN values for "userID", "doneChargingTime", and userInputs columns
columns_contain_nan = ["userID"] + user_inputs
contains_zero_value = (charging_set[columns_contain_nan] == 0).any()

print("userID contains a zero value:\n", contains_zero_value)

# separate columns that contain NaN but not zero values from columns that contain both NaN and zero values
columns_contain_nan_wo_zero_values = [col for col in columns_contain_nan if not (charging_set[col] == 0).any()]
columns_contain_nan_w_zero_values = [col for col in columns_contain_nan if (charging_set[col] == 0).any()]

# fill NaN values with 0 in columns that do not contain zero values, for the rest of the columns, use -1
charging_set[columns_contain_nan_wo_zero_values] = charging_set[columns_contain_nan_wo_zero_values].fillna(0)
charging_set[columns_contain_nan_w_zero_values] = charging_set[columns_contain_nan_w_zero_values].fillna(-1)

Unregistered users are the reason for NaN-values in userInputs columns: True
userID contains a zero value:
 userID                False
requestedDeparture    False
milesRequested         True
paymentRequired       False
modifiedAt            False
minutesAvailable      False
WhPerMile             False
kWhRequested           True
dtype: bool

Additionally, we change create a new column called isRegistered, since the exact ID of a user is not relevant, but only the information wether a user is registered or not.

In [13]:
# isRegistered should be 0 if a user is not registered (userID == NaN) and be 1 if a user is registered
charging_set['isRegistered'] = charging_set['userID'].notnull().astype(int)

# remove userID
charging_set = charging_set.drop(columns=['userID'])

# Clean: Time-Data

Now we have a look at the time data. Like we filled the NaN-values for the userInputs with 0 or -1 as placeholders, we will use the minimum possible value for python's "datetime" datatype (01.01.0001, midnight UTC) as an equivalent to the 0 value we used for the other numeric columns. After, we will convert the time-data into human-readable format.

In [54]:
# fill NaN-values with 01.01.1970, midnight UTC
na_placeholder = dt.datetime(1970, 1, 1, 0, 0, tzinfo=dt.timezone.utc)
# store time-data columns that need cleaning of Na-values in list
time_data_columns = ["doneChargingTime", "modifiedAt", "requestedDeparture"]
# replace Na-values with placeholder
charging_set[time_data_columns] = charging_set[time_data_columns].fillna(na_placeholder)

# convert time-data in correct datatype
charging_set['connectionTime'] = pd.to_datetime(charging_set['connectionTime'])
charging_set['disconnectTime'] = pd.to_datetime(charging_set['disconnectTime'])
charging_set['doneChargingTime'] = pd.to_datetime(charging_set['doneChargingTime'])
charging_set['modifiedAt'] = pd.to_datetime(charging_set['modifiedAt'])
charging_set['requestedDeparture'] = pd.to_datetime(charging_set['requestedDeparture'])

charging_set['connectionTime_year'] = charging_set['connectionTime'].dt.year
charging_set['connectionTime_month'] = charging_set['connectionTime'].dt.month
charging_set['connectionTime_day'] = charging_set['connectionTime'].dt.day
charging_set['connectionTime_time'] = charging_set['connectionTime'].dt.time
charging_set['connectionTime_weekday'] = charging_set['connectionTime_day'].dt.weekday

charging_set['disconnectTime_year'] = charging_set['disconnectTime'].dt.year
charging_set['disconnectTime_month'] = charging_set['disconnectTime'].dt.month
charging_set['disconnectTime_day'] = charging_set['disconnectTime'].dt.day
charging_set['disconnectTime_time'] = charging_set['disconnectTime'].dt.time
charging_set['disconnectTime_weekday'] = charging_set['disconnectTime_day'].dt.weekday

charging_set['doneChargingTime_year'] = charging_set['doneChargingTime'].dt.year
charging_set['doneChargingTime_month'] = charging_set['doneChargingTime'].dt.month
charging_set['doneChargingTime_day'] = charging_set['doneChargingTime'].dt.day
charging_set['doneChargingTime_time'] = charging_set['doneChargingTime'].dt.time
charging_set['doneChargingTime_weekday'] = charging_set['doneChargingTime_day'].dt.weekday

charging_set['modifiedAt_year'] = charging_set['modifiedAt'].dt.year
charging_set['modifiedAt_month'] = charging_set['modifiedAt'].dt.month
charging_set['modifiedAt_day'] = charging_set['modifiedAt'].dt.day
charging_set['modifiedAt_time'] = charging_set['modifiedAt'].dt.time
charging_set['modifiedAt_weekday'] = charging_set['modifiedAt_day'].dt.weekday

charging_set['requestedDeparture_year'] = charging_set['requestedDeparture'].dt.year
charging_set['requestedDeparture_month'] = charging_set['requestedDeparture'].dt.month
charging_set['requestedDeparture_day'] = charging_set['requestedDeparture'].dt.day
charging_set['requestedDeparture_time'] = charging_set['requestedDeparture'].dt.time
charging_set['requestedDeparture_weekday'] = charging_set['requestedDeparture_day'].dt.weekday

# remove original columns
charging_set = charging_set.drop(columns=['modifiedAt', 'requestedDeparture', 'connectionTime', 'disconnectTime', 'doneChargingTime', 'modifiedAt', 'requestedDeparture'])

ValueError: Cannot mix tz-aware with tz-naive values, at position 3756

In [14]:
def calculate_hours():
    # Berechne die Ladezeit als Differenz zwischen disconnectTime und connectionTime
    charging_set["chargingDurationTemp"] = charging_set["disconnectTime"] - charging_set["connectionTime"]
    
    # Konvertiere die Differenz in Stunden
    charging_set['chargingDuration'] = charging_set["chargingDurationTemp"].apply(
        lambda x: x.total_seconds() / 3600
    )
    
    # Entferne die temporäre Spalte
    charging_set.drop(columns=["chargingDurationTemp"], inplace=True)
    
    return charging_set

# Aufruf der Funktion
charging_set = calculate_hours()

In [15]:
# clean "connectionTime", "disconnectTime", "doneChargingTime" from dataframe
charging_set = charging_set.drop(columns=["connectionTime", "disconnectTime", "doneChargingTime"])

In [ ]:
### check data types of each column
# Find the unique types
# TODO: add userInputs columns into here
id_types = charging_set["id"].apply(type).unique()
connectionTime_types = charging_set["connectionTime"].apply(type).unique()
disconnectTime_types = charging_set["disconnectTime"].apply(type).unique()
doneChargingTime_types = charging_set["doneChargingTime"].apply(type).unique()
kWhDelivered_types = charging_set["kWhDelivered"].apply(type).unique()
siteID_types = charging_set["siteID"].apply(type).unique()
spaceID_types = charging_set["spaceID"].apply(type).unique()
stationID_types = charging_set["stationID"].apply(type).unique()
timezone_types = charging_set["timezone"].apply(type).unique()
userID_types = charging_set["userID"].apply(type).unique()

# Print the unique types
print("id types:", id_types)
print("connectionTime types:", connectionTime_types)
print("disconnectTime types:", disconnectTime_types)
print("doneChargingTime types:", doneChargingTime_types)
print("kWhDelivered types:", kWhDelivered_types)
print("siteID types:", siteID_types)
print("spaceID types:", spaceID_types)
print("stationID types:", stationID_types)
print("timezone types:", timezone_types)
print("userID types:", userID_types)

In [55]:
# Check ranges of numeric columns
numeric_columns = charging_set.select_dtypes(include=[np.number])
for col in numeric_columns.columns:
    print(f"Column '{col}': min={numeric_columns[col].min()}, max={numeric_columns[col].max()}")

# Check unique values of categorical columns
categorical_columns = charging_set.select_dtypes(exclude=[np.number])
for col in categorical_columns.columns:
    print(f"Column '{col}': unique values={categorical_columns[col].unique()}")

Column 'kWhDelivered': min=0.501, max=108.79724166666666
Column 'siteID': min=1, max=2
Column 'WhPerMile': min=0.0, max=2000.0
Column 'kWhRequested': min=-1.0, max=215.32
Column 'milesRequested': min=-1.0, max=775.0
Column 'minutesAvailable': min=0.0, max=10062.0
Column 'isRegistered': min=1, max=1
Column 'id': unique values=['5e23b149f9af8b5fe4b973cf' '5e23b149f9af8b5fe4b973d0'
 '5e23b149f9af8b5fe4b973d1' ... '5d2fbdd3f9af8b4d0dd0d54c'
 '5d2fbdd3f9af8b4d0dd0d54d' '5d2fbdd3f9af8b4d0dd0d54e']
Column 'connectionTime': unique values=<DatetimeArray>
['2020-01-02 13:08:54+00:00', '2020-01-02 13:36:50+00:00',
 '2020-01-02 13:56:35+00:00', '2020-01-02 13:59:58+00:00',
 '2020-01-02 14:00:01+00:00', '2020-01-02 14:00:13+00:00',
 '2020-01-02 14:09:14+00:00', '2020-01-02 14:17:32+00:00',
 '2020-01-02 14:25:38+00:00', '2020-01-02 14:27:40+00:00',
 ...
 '2019-07-01 19:17:16+00:00', '2019-07-01 19:20:31+00:00',
 '2019-07-01 19:43:46+00:00', '2019-07-01 20:01:07+00:00',
 '2019-07-01 20:34:30+00:00', '2019-07-01 21:49:12+00:00',
 '2019-07-01 21:58:45+00:00', '2019-07-01 22:02:21+00:00',
 '2019-07-01 22:23:44+00:00', '2019-07-01 22:36:08+00:00']
Length: 64839, dtype: datetime64[ns, UTC]
Column 'disconnectTime': unique values=<DatetimeArray>
['2020-01-02 19:11:15+00:00', '2020-01-02 22:38:21+00:00',
 '2020-01-03 00:39:22+00:00', '2020-01-02 16:38:39+00:00',
 '2020-01-02 22:08:40+00:00', '2020-01-02 23:00:41+00:00',
 '2020-01-03 01:57:58+00:00', '2020-01-03 00:44:54+00:00',
 '2020-01-02 19:36:05+00:00', '2020-01-02 20:01:48+00:00',
 ...
 '2019-07-02 00:41:27+00:00', '2019-07-02 00:16:32+00:00',
 '2019-07-02 02:58:53+00:00', '2019-07-02 00:32:26+00:00',
 '2019-07-02 00:30:52+00:00', '2019-07-02 01:37:18+00:00',
 '2019-07-02 00:39:48+00:00', '2019-07-02 00:58:50+00:00',
 '2019-07-02 02:03:36+00:00', '2019-07-02 01:10:52+00:00']
Length: 64906, dtype: datetime64[ns, UTC]
Column 'doneChargingTime': unique values=[Timestamp('2020-01-02 17:31:35+0000', tz='UTC')
 Timestamp('2020-01-02 20:18:05+0000', tz='UTC')
 Timestamp('2020-01-02 16:35:06+0000', tz='UTC') ...
 Timestamp('2019-07-02 00:59:23+0000', tz='UTC')
 Timestamp('2019-07-02 02:04:06+0000', tz='UTC')
 Timestamp('2019-07-02 00:24:32+0000', tz='UTC')]
Column 'spaceID': unique values=['AG-3F30' 'AG-1F01' 'AG-1F03' 'AG-1F04' 'AG-1F06' 'AG-1F13' 'AG-1F09'
 'AG-4F34' 'AG-1F11' 'AG-1F08' 'AG-3F22' 'AG-1F14' 'AG-1F07' 'AG-1F12'
 'AG-3F29' 'AG-1F05' 'AG-3F18' 'AG-1F10' 'AG-3F16' 'AG-4F37' 'AG-1F02'
 'AG-3F28' 'AG-3F25' 'AG-3F24' 'AG-3F33' 'AG-3F23' 'AG-3F31' 'AG-3F32'
 'AG-3F27' 'AG-3F26' 'AG-3F20' 'AG-3F17' 'AG-3F21' 'AG-3F19' 'AG-4F44'
 'AG-4F52' 'AG-4F41' 'AG-4F48' 'AG-4F35' 'AG-4F50' 'AG-3F15' 'AG-4F51'
 'AG-4F47' 'AG-4F46' 'AG-4F49' 'AG-4F43' 'AG-4F42' 'AG-4F45' 'AG-4F36'
 'AG-4F38' 'AG-4F40' 'AG-4F39' 'CA-512' 'CA-327' 'CA-326' 'CA-303'
 'CA-325' 'CA-311' 'CA-309' 'CA-491' 'CA-493' 'CA-499' 'CA-323' 'CA-313'
 'CA-324' 'CA-513' 'CA-305' 'CA-317' 'CA-510' 'CA-315' 'CA-321' 'CA-490'
 'CA-497' 'CA-489' 'CA-319' 'CA-492' 'CA-494' 'CA-502' 'CA-500' 'CA-495'
 'CA-498' 'CA-304' 'CA-307' 'CA-306' 'CA-501' 'CA-318' 'CA-308' 'CA-316'
 'CA-312' 'CA-320' 'CA-212' 'CA-508' 'CA-322' 'CA-314' 'CA-503' 'CA-504'
 'CA-496' 'CA-310' 'CA-506' 'CA-149' 'CA-509' 'CA-507' 'CA-511' 'CA-213'
 'CA-505' 'CA-148' '11900388']
Column 'stationID': unique values=['1-1-179-810' '1-1-193-825' '1-1-193-829' '1-1-193-820' '1-1-193-819'
 '1-1-194-821' '1-1-178-817' '1-1-191-804' '1-1-194-826' '1-1-178-823'
 '1-1-179-788' '1-1-194-818' '1-1-178-824' '1-1-194-822' '1-1-179-783'
 '1-1-193-816' '1-1-179-798' '1-1-178-828' '1-1-179-787' '1-1-191-792'
 '1-1-193-827' '1-1-179-777' '1-1-179-799' '1-1-179-796' '1-1-179-815'
 '1-1-179-797' '1-1-179-781' '1-1-179-800' '1-1-179-809' '1-1-179-791'
 '1-1-179-794' '1-1-179-779' '1-1-179-801' '1-1-179-790' '1-1-191-802'
 '1-1-191-789' '1-1-191-806' '1-1-191-785' '1-1-191-808' '1-1-191-782'
 '1-1-179-813' '1-1-191-795' '1-1-191-807' '1-1-191-812' '1-1-191-803'
 '1-1-191-778' '1-1-191-811' '1-1-191-780' '1-1-191-786' '1-1-191-793'
 '1-1-191-784' '1-1-191-805' '2-39-138-566' '2-39-79-379' '2-39-79-378'
 '2-39-139-28' '2-39-79-377' '2-39-125-21' '2-39-127-19' '2-39-79-382'
 '2-39-78-361' '2-39-91-441' '2-39-78-366' '2-39-123-23' '2-39-79-376'
 '2-39-139-567' '2-39-131-30' '2-39-91-437' '2-39-130-564' '2-39-89-25'
 '2-39-78-365' '2-39-79-381' '2-39-95-444' '2-39-79-380' '2-39-95-27'
 '2-39-79-383' '2-39-78-367' '2-39-88-438' '2-39-90-440' '2-39-78-364'
 '2-39-92-442' '2-39-138-29' '2-39-129-17' '2-39-130-31' '2-39-89-439'
 '2-39-92-436' '2-39-128-18' '2-39-90-26' '2-39-124-22' '2-39-78-363'
 '2-39-83-386' '2-39-128-562' '2-39-78-360' '2-39-88-24' '2-39-123-557'
 '2-39-124-558' '2-39-78-362' '2-39-126-20' '2-39-126-560' '2-39-83-387'
 '2-39-129-563' '2-39-127-561' '2-39-131-565' '2-39-82-384' '2-39-125-559'
 '2-39-82-385' '2-39-81-4550']
Column 'timezone': unique values=['America/Los_Angeles']
Column 'modifiedAt': unique values=['Thu, 02 Jan 2020 13:09:39 GMT' 'Thu, 02 Jan 2020 13:37:11 GMT'
 'Thu, 02 Jan 2020 13:57:17 GMT' ... 'Mon, 01 Jul 2019 22:02:37 GMT'
 'Mon, 01 Jul 2019 22:23:43 GMT' 'Mon, 01 Jul 2019 22:36:08 GMT']
Column 'paymentRequired': unique values=[True 0]
Column 'requestedDeparture': unique values=['Thu, 02 Jan 2020 20:51:54 GMT' 'Thu, 02 Jan 2020 23:31:50 GMT'
 'Thu, 02 Jan 2020 14:56:35 GMT' ... 'Tue, 02 Jul 2019 03:11:21 GMT'
 'Tue, 02 Jul 2019 00:02:44 GMT' 'Tue, 02 Jul 2019 01:47:08 GMT']

The timezone column only has one value: "". Hence, we can remove it since it does not bring any new information to the analysis.

In [ ]:
charging_set.drop('timezone', axis=1, inplace=True)
charging_set.head(3)

In [22]:
random_entry = charging_set.sample(n=1).iloc[0]

# Zellenwerte einzeln ausgeben
for column_name, value in random_entry.items():
    print(f"{column_name}: {value}")

id: 5bc93eacf9af8b0dc677dcb4
kWhDelivered: 13.196
siteID: 2
spaceID: CA-323
stationID: 2-39-78-366
userID: nan
WhPerMile: nan
kWhRequested: nan
milesRequested: nan
minutesAvailable: nan
modifiedAt: NaT
paymentRequired: None
requestedDeparture: NaT
connectionTime_date: 2018-09-20 00:00:00
connectionTime_time: 00:41:03
disconnectTime_date: 2018-09-20 00:00:00
disconnectTime_time: 13:04:07
doneChargingTime_date: 2018-09-20 00:00:00
doneChargingTime_time: 06:06:37
modifiedAt_date: NaT
modifiedAt_time: NaT
requestedDeparture_date: NaT
requestedDeparture_time: NaT
connectionTime_year: 2018
connectionTime_month: 9
connectionTime_day: 20
disconnectTime_year: 2018
disconnectTime_month: 9
disconnectTime_day: 20
doneChargingTime_year: 2018.0
doneChargingTime_month: 9.0
doneChargingTime_day: 20.0
modifiedAt_year: nan
modifiedAt_month: nan
modifiedAt_day: nan
requestedDeparture_year: nan
requestedDeparture_month: nan
requestedDeparture_day: nan
chargingDuration: 12.384444444444444
UserID: 0

In [23]:
charging_set = charging_set.drop(columns=['modifiedAt', 'requestedDeparture', 'connectionTime_date', 'disconnectTime_date', 'doneChargingTime_date', 'modifiedAt_date', 'requestedDeparture_date'])

In [24]:
random_entry = charging_set.sample(n=1).iloc[0]

# Zellenwerte einzeln ausgeben
for column_name, value in random_entry.items():
    print(f"{column_name}: {value}")

id: 5d4b6d54f9af8b256a1e0d1b
kWhDelivered: 9.957
siteID: 1
spaceID: AG-3F15
stationID: 1-1-179-813
userID: 1461.0
WhPerMile: 600.0
kWhRequested: 48.0
milesRequested: 80.0
minutesAvailable: 419.0
paymentRequired: True
connectionTime_time: 13:49:28
disconnectTime_time: 23:06:49
doneChargingTime_time: 16:20:22
modifiedAt_time: 00:00:00
requestedDeparture_time: 20:48:28
connectionTime_year: 2019
connectionTime_month: 7
connectionTime_day: 22
disconnectTime_year: 2019
disconnectTime_month: 7
disconnectTime_day: 22
doneChargingTime_year: 2019.0
doneChargingTime_month: 7.0
doneChargingTime_day: 22.0
modifiedAt_year: 2019.0
modifiedAt_month: 7.0
modifiedAt_day: 22.0
requestedDeparture_year: 2019.0
requestedDeparture_month: 7.0
requestedDeparture_day: 22.0
chargingDuration: 9.289166666666667
UserID: 1

In [25]:
# charging_set.to_csv('data/cleaned_charging_set.csv', index=False)